.feed-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: #000;
}

.videos-wrapper {
  width: 100%;
}

.loading-more {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
